.formulario{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 50px;
    flex-wrap: wrap;
    gap: 20px

}

.formulario form{
    max-width: 80%;
    background:  #F6F6F6;
    box-shadow: 7px 7px 15px  #00000014;
    border-radius: 20PX;
    padding: 8px 20px ;
    flex: 1;
}

h2 {
    font-size: 32px;
    font-weight: 400px;
    color:  #212121;
}

